<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>

  <connectionStrings>
    <add name="ConnStr" connectionString=""/>
  </connectionStrings>

  <appSettings>
    <!--第三方用户唯一凭证，第三方用户唯一凭证密钥-->
    <add key="appID" value="wxd2ade407e263a61c"/>
    <add key="appsecret" value="d4624c36b6795d1d99dcf0547af5443d"/>    
    <add key="myToken" value="osmoy150"/>
    <add key="redirectUrl" value="http://121.41.53.108/GetUserInfo.aspx"/>
    <add key="filePath" value="G:\error.txt"/>

  </appSettings>

</configuration>
